<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:if="${book.id}">Edit book</title>
    <title th:unless="${book.id}">New book</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="edit-form" action="#"
      th:action="${book.id != null} ? @{/book/edit(id=${book.id})} : @{/book/create}"
      th:method="post"
      th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="*{id}" value=""/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" th:value="*{title}" value=""/>
    </div>

    <div class="row">
        <label for="book-author">Author:</label>
        <select class="form-control" id="book-author" name="book-author" th:field="*{author}">
            <option th:each="a : ${authors}"
                    th:value="${{a}}"
                    th:text="${a.name}"
                    th:selected="${a.id == book.author.id}">
            </option>
        </select>
    </div>

    <div class="row">
        <label for="book-genre">Genre:</label>
        <select class="form-control" id="book-genre" name="book-genre" th:field="*{genre}">
            <option th:each="a : ${genres}"
                    th:value="${{a}}"
                    th:text="${a.name}"
                    th:selected="${a.id == book.genre.id}">
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list_books.html" th:href="@{/book}">
            <button type="button">Cancel</button>
        </a>
    </div>

    <p><a href="/logout">Logout</a></p>
</form>
</body>
</html>